.currency-select {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    width: 336px;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    margin: 16px 0px;
    padding: 16px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(230, 232, 234);
    border-style: solid;
}

.selected-div {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
}